<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Website</title>
    <link rel="stylesheet" href="../css/stylesheet.css">
    <script src="https://cdn.jsdelivr.net/npm/tone@14.8.30/build/Tone.min.js"></script>
</head>
<body>
    <h1>Welcome to My Website</h1>

    <div id="keyContainer">
        <p id="pickKeyText">Pick a Key:</p> 
        <button id="keyBtn">Key</button>
    </div>

    <div id="chordContainer"></div>
    
    <script type="module" src="../js/main.js"></script>
</body>
</html>